.user-list {
  flex: 5;
  margin: 0px 20px;
}

.user-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.user-list-user {
  display: flex;
  align-items: center;
}

.user-list-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.edit-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list-edit {
  color: blueviolet;
  cursor: pointer;
  margin-right: 20px;
}

.user-list-delete {
  color: red;
  cursor: pointer;
}
