.product {
  flex: 5;
}

.product-title-container {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-product-button {
  display: flex;
  align-items: center;
  width: 120px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.product-top {
  display: flex;
  margin-top: 5px;
}

.product-top-left,
.product-top-right {
  flex: 1;
}

.product-top-right {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
}

.product-info-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.product-info-top {
  display: flex;
  align-items: center;
}

.product-name {
  font-weight: 600;
}

.product-info-bottom {
  margin-top: 10px;
}

.product-info-item {
  margin-bottom: 5px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.product-info-value {
  font-weight: 300;
}

.product-bottom {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
}

.product-form {
  display: flex;
  justify-content: space-between;
}

.product-form-left {
  display: flex;
  flex-direction: column;
}

.product-form-left > label {
  margin-bottom: 10px;
  color: gray;
}

.product-form-left > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.product-form-left > select {
  padding: 5px;
  margin-bottom: 10px;
}

.product-upload-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20px;
}

.product-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-upload {
  display: flex;
  align-items: center;
}

.product-button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
